table.dataTable tr {
  font-size: 0.9rem !important;
}

table.dataTable td {
  font-size: 0.9rem !important;
}
.md-table td {
  padding: 0.1rem !important;
}
.tb-mini td {
  padding: 0.1rem !important;
}
.btn-xxs {
  padding: 0.125rem 0.3rem !important;
  font-size: 0.7rem !important;
  line-height: 8px !important;
  border-radius: 0.15rem !important;
}
.content-wrapper {
  margin-top: 3rem !important;
}
